.call-to-action {
  display: block;
  width: 100px;
  padding: 20px;
  margin: 0 auto 20px;

  text-align: center;
  text-transform: uppercase;
  @include font-style-text-bold;

  box-shadow: 1px 1px 15px -10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-color: $color-blue;
  color: white;

  transition: all 200ms ease;

  &:hover {
    transform: translate(0px, -10px);
    box-shadow: 1px 15px 15px -10px rgba(0, 0, 0, 0.5);
  }
}
