header {
  max-width: $page-max-width;
  padding: 0 $page-gutter;
  margin: 0 auto;
  box-sizing: border-box;
}

.brand {
  display: flex;
}

.page-titel {
  display: block;
  font-family: $font;
  font-weight: $font-weight-bold;
  font-size: 100px;
  span {
    font-weight: $font-weight-light;
  }
}

.logo {
  display: block;
  width: 80px;
  margin-left: 20px;
  margin-bottom: 60px;
}
