.brand {
  display: flex;
}
.page-titel {
  display: block;
  font-family: $font;
  font-weight: $font-weight-bold;
  font-size: 100px;
  padding: 0 20px 0 50px;
}

#light {
  font-weight: 100;
}

.logo {
  display: block;
  width: 80px;
  margin-bottom: 60px;
}
