$page-max-width: 960px;

$color-blue: #0066FF;
$color-grey: #dedede;


$font: "Montserrat", "Open Sans", sans-serif;
$font-weight-light: 100;
$font-weight-bold: 700;


@mixin font-style-text {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 100;
}

@mixin font-style-text-bold {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 600;
}
